<div class="panel panel-default">
  <div class="panel-body">

  	<h2>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Facilis, ab.</h2>
  	<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsam, natus. Reprehenderit porro non commodi ut. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eos voluptates ad, temporibus, eaque perspiciatis rem ipsum ratione? Impedit quidem dolores, hic minus. Voluptatibus mollitia eos nisi, expedita quas, laborum praesentium nihil alias dolor enim tenetur ratione perferendis est ipsa consequuntur reiciendis repudiandae quae optio necessitatibus ipsam! Optio, aut, harum? Eaque molestias rem, aperiam necessitatibus sunt architecto iusto ratione, ex impedit.</p>
    <h4>Phone:</h4>
    <p>543-52626-16-3</p>
    <h4>E-Mail</h4>
    <p>dgka@gmail.com</p>
  </div>
</div>